.todo {
  padding: 15px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .text {
    width: 100%;
    font-size: 18px;
    word-break: break-all;
  }
  
  .delete {
    padding: 4px;
    border-radius: 4px;
    background-color: #edeef6;
    width: 20px;
    height: 20px;
  }
  .textCompleted {
    text-decoration: line-through;
  }
}
